<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Badge builder</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/jaames/iro.js@9ac84b82a35ce676010bd3fcae8240ea89d40cac/dist/iro.min.js"></script>
    <script src="https://embed.runkit.com"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

    <style>
        body { background: #20262E; padding: 30px 0; font-family: 'Merriweather', serif; text-align: center }
        #app { background: #fff; border-radius: 4px; padding: 40px 0; width: 960px; margin: auto }
        h1 { color: #3c3c3c }
        h3 { color: #616161 }
        .color-picker, .result { display: inline-block; vertical-align: middle; margin: 0 10px }
        .result svg { transform: scale(1.5); margin: 15px 0 }
        input { margin-top: 20px; width: 80px; border: none; border-bottom: 1px solid #484848; text-align: center; padding: 5px; outline: none }
        #notebook { margin: 50px 60px 10px }
    </style>
</head>
<body>

<div id="app">
    <h1>gradient-badges</h1>
    <h3>Live preview</h3>
    <div class="color-picker">
        <div id="color-picker-container-left"></div>
        <input type="text" v-model="leftColorInput">
    </div>

    <div class="result">
        <svg width="93.6" height="20" viewBox="0 0 936 200" xmlns="http://www.w3.org/2000/svg">
            <linearGradient id="a" x2="0" y2="100%">
                <stop offset="0" stop-opacity=".1" stop-color="#EEE"/>
                <stop offset="1" stop-opacity=".1"/>
            </linearGradient>
            <mask id="m">
                <rect width="936" height="200" rx="30" fill="#FFF"/>
            </mask>
            <g mask="url(#m)">
                <rect width="500" height="200" fill="#555"/>
                <rect width="436" height="200" fill="url(#x)" x="500"/>
                <rect width="936" height="200" fill="url(#a)"/>
            </g>
            <g fill="#fff" text-anchor="start" font-family="Verdana,DejaVu Sans,sans-serif" font-size="110">
                <text x="65" y="148" textLength="400" fill="#000" opacity="0.25">subject</text>
                <text x="55" y="138" textLength="400">subject</text>
                <text x="555" y="148" textLength="336" fill="#000" opacity="0.25">status</text>
                <text x="545" y="138" textLength="336">status</text>
            </g>
            <linearGradient id="x" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="0%" :style="'stop-color:' + leftColor"/>
                <stop offset="100%" :style="'stop-color:' + rightColor"/>
            </linearGradient>
        </svg>
        <br>
        <svg width="93.6" height="20" viewBox="0 0 936 200" xmlns="http://www.w3.org/2000/svg">
            <g>
                <rect fill="#555" width="500" height="200"/>
                <rect fill="url(#x)" x="500" width="436" height="200"/>
            </g>
            <g fill="#fff" text-anchor="start" font-family="Verdana,DejaVu Sans,sans-serif" font-size="110">
                <text x="65" y="148" textLength="400" fill="#000" opacity="0.1">subject</text>
                <text x="55" y="138" textLength="400">subject</text>
                <text x="555" y="148" textLength="336" fill="#000" opacity="0.1">status</text>
                <text x="545" y="138" textLength="336">status</text>
            </g>
            <linearGradient id="x" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="0%" :style="'stop-color:' + leftColor"/>
                <stop offset="100%" :style="'stop-color:' + rightColor"/>
            </linearGradient>
        </svg>
    </div>

    <div class="color-picker">
        <div id="color-picker-container-right"></div>
        <input type="text" v-model="rightColorInput">
    </div>

    <div id="notebook"></div>
</div>

<script>
    const LEFT = '#b65cff';
    const RIGHT = '#11cbfa';
    new Vue({
        el: "#app",
        data: {
            leftColor: LEFT,
            leftColorInput: LEFT,
            rightColor: RIGHT,
            rightColorInput: RIGHT,
            leftColorPicker: null,
            rightColorPicker: null,
            notebook: null,
        },
        watch: {
            leftColorInput(val) {
                this.leftColorPicker.color.hexString = val;
            },
            rightColorInput(val) {
                this.rightColorPicker.color.hexString = val;
            },
            code(val) {
                this.notebook.getSource((oldVal) => {
                    this.notebook.setSource(oldVal.replace(/gradient\s*:\s*\[[^\]]+]/, val))
                });
            }
        },
        computed: {
            code() {
                return `gradient: ['${this.leftColorInput.substr(1)}', '${this.rightColorInput.substr(1)}']`;
            }
        },
        mounted() {
            this.leftColorPicker = new iro.ColorPicker("#color-picker-container-left", {color: this.leftColor});
            this.rightColorPicker = new iro.ColorPicker("#color-picker-container-right", {color: this.rightColor});
            this.leftColorPicker.on("color:change", (c) => this.leftColor = c.hexString);
            this.leftColorPicker.on("input:end", (c) => this.leftColorInput = c.hexString);
            this.rightColorPicker.on("color:change", (c) => this.rightColor = c.hexString);
            this.rightColorPicker.on("input:end", (c) => this.rightColorInput = c.hexString);

            const source = `// Edit this code and click the green button to see the result
// You can then use the badge on your README with the following line:
// ![Badge](https://:url.runkit.sh)

const badges = require('gradient-badges');
exports.endpoint = function (req, resp) {
    resp.setHeader('Content-Type', 'image/svg+xml');
    resp.end(badges({
        subject: 'subject', // text
        status: 'status', // text
        style: 'flat', // remove line for classic style
        ${this.code.toString()} // use color-pickers to change
    }));
}`;

            this.notebook = RunKit.createNotebook({
                element: document.getElementById('notebook'),
                endpoint: true,
                mode: 'endpoint',
                onLoad: () => this.notebook.getShareableURL(val => {
                    this.notebook.setSource(source.replace(':url', val.replace('https://runkit.com/embed/', '')));
                }),
                source: source,
            });
        }
    })
</script>
</body>
</html>